src/main/mule/Implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="set corelationId" doc:id="3e9cfc15-3769-4ac1-a33f-60bbc869df87" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start log" doc:id="644c9bd1-cd9b-4f71-8efc-91d71819b4fa" message="'transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: Started register covid case flow, payload: #[payload]'"/>
		<ee:transform doc:name="Prepare Covid Request" doc:id="6b862c1c-804e-4f1a-bcbb-68386e060a75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

---
{
	case_id: payload.caseId,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country
	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ba92bae5-3367-415a-b8b1-e612cbc98651" name="insert-covid-case-sub-flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	</mule>
